*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

nav{
    
    flex: 1;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
}

nav ul li{
    margin-right: 10px;
}

a{
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display:inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s; 
}

.btn:hover{
    background: #563434;
}

.header{
    background: linear-gradient(to right, #40DFEF, #B4FF9F);
}

.header .row{ /*chua khoang trong cho hinh gio hang*/
    margin-top: 70px;
}

.nav_link:hover{
    color: #fff;
    background-color: #111;
}

.header-toggle{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.5s;
}

/* Sau khi man hinh truot lon hon phan tu menu them class sticky vao navbar */
.sticky{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 8%;
    background: #f2f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: padding 0.7s ease;
}

@media (max-width: 850px){
    .sticky{
        max-height: 70px;
    }
    .navbar{
        justify-content: flex-end;
    }

    .logo{
        margin-right: auto;
    }

    .navbar__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #f2f2f2f2;
        width: 50%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
        overflow: hidden;
    }
    
    .header-toggle{
        display: inline;
    }
    

    #close{
        position: absolute;
        left: 30px;
        font-size: 40px;
    }
   
    .navbar__menu ul{
        flex-direction: column;
    }

    .navbar__menu ul li{
        margin-top: 30px;
    }

    .navbar__menu ul li a{
        font-size: 18px;
    }

    .show{
        right: 0;
    }
}
/*---Chèn CSS của nội dung vào đây-----------------------*/
/* ==1 so CSS chung== */
h1{
    font-size: 36px;
    font-weight: 600px;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    margin-top: 10px;
}

/* ==buy button== */
.buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #ffffff;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.buy-btn:hover{
    color: #ffffff;
    background-color: #A85CF9;
    transition: all ease 0.3s;
}

/* == end buy button== */
/* ==end 1 so Css chung== */

/* statistical */
.statistical{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 5%;
}

.statistical__items{
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.statistical__item{
    width: 160px;
    position: relative;
}

.statistical__item__outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
  
.statistical__item__inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}
  
#number{
    font-weight: 600;
    color: #555;
}
  
.circle1{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: circle1 7s linear forwards;
}

.circle2{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: circle2 7.3s linear forwards;
}

.circle3{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: circle3 7.5s linear forwards;
}
  
svg{
    position: absolute;
    top: 0;
    left: 0;
}
  
@keyframes circle1{
    100%{
      stroke-dashoffset: 90;
    }
}

@keyframes circle2{
    100%{
      stroke-dashoffset: 220;
    }
}

@keyframes circle3{
    100%{
      stroke-dashoffset: 140;
    }
}
  
.statistical__item__content{
    position: relative;
    margin-top: 20px;
    width: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.statistical__item__content h3{
    text-align: left;
    margin-left: 10px;
    font-size: 16px;
    color: #40d3dc;
}
  
.statistical__item__content img{
    width: 50px;
    height: 50px;
}

@media (max-width: 400px){
    .statistical__content{
        font-size: 16px;
    }
    .statistical__items{
        flex-wrap: wrap;
    }

    .statistical__item{
        margin-top: 50px;
    }
}
/* end statistical */



/* =======sp tieu bieu====== */
.typical-product{
    margin: 100px 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: #00FFC6;
    overflow: hidden;
}

.typical-product__content{
    margin-left: 14px;
    max-width: 400px;
}

.typical-product__content h1{
    color: #fff;
    font-size: 41px;
}

.slider-img{
    width: 900px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slider-img__slides{
    width: 800%;
    height: 500px;
    display: flex;
    overflow: hidden;
}

.slider-img__slides input{
    display: none;
}

.slider-img__slides__item{
    width: 12.5%;
    transition: 3s ease;
}

.slider-img__slides__item img{
    width: 900px;
    height: 500px;
}

/* slider-img__manual */
.slider-img__manual{
    position: absolute;
    width: 900px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.slider-img__manual__btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease;
}

.slider-img__manual__btn:not(:last-child){
    margin-right: 40px;
}

.slider-img__manual__btn:hover{
    background: #40d3dc;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -12.5%;
}

#radio3:checked ~ .first{
    margin-left: -25%;
}

#radio4:checked ~ .first{
    margin-left: -37.5%;
}

#radio5:checked ~ .first{
    margin-left: -50%;
}

#radio6:checked ~ .first{
    margin-left: -62.5%;
}

#radio7:checked ~ .first{
    margin-left: -75%;
}

#radio8:checked ~ .first{
    margin-left: -87.5%;
}

/* end slider-img__manual */

/* slider-img__slides__autoplay */
.slider-img__slides__autoplay{
    position: absolute;
    display: flex;
    width: 900px;
    justify-content: center;
    margin-top: 460px;
}

.slider-img__slides__autoplay div{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.slider-img__slides__autoplay div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .slider-img__slides__autoplay .slider-img__autoplay__btn1{
    background: #40d3dc;
}

#radio2:checked ~ .slider-img__slides__autoplay .slider-img__autoplay__btn2{
    background: #40d3dc;
}

#radio3:checked ~ .slider-img__slides__autoplay .slider-img__autoplay__btn3{
    background: #40d3dc;
}

#radio4:checked ~ .slider-img__slides__autoplay .slider-img__autoplay__btn4{
    background: #40d3dc;
}

#radio5:checked ~ .slider-img__slides__autoplay .slider-img__autoplay__btn5{
    background: #40d3dc;
}
#radio6:checked ~ .slider-img__slides__autoplay .slider-img__autoplay__btn6{
    background: #40d3dc;
}
#radio7:checked ~ .slider-img__slides__autoplay .slider-img__autoplay__btn7{
    background: #40d3dc;
}
#radio8:checked ~ .slider-img__slides__autoplay .slider-img__autoplay__btn8{
    background: #40d3dc;
}

/*end  slider-img__slides__autoplay */

/*== end sptieubieu ==*/


/* ==responsive sptieubieu== */

@media (max-width: 1370px){
    .typical-product__content{
        max-width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .slider-img__manual{
        width: 400px;
    }
    
    .slider-img__manual__btn{
        padding: 3px;
    }
    
    .slider-img__manual__btn:not(:last-child){
        margin-right: 10px;
    }

    .slider-img__slides__autoplay{
        width: 400px;
    }
    
    .slider-img__slides__autoplay div{
        padding: 3px;
    }
    
    .slider-img__slides__autoplay div:not(:last-child){
        margin-right: 10px;
    }
    

}
/* ==end responsive sp tieu bieu== */


/* all product */

.all-product{
    position: relative;
    text-align: center;
    margin-top: 100px;
}

.big-list__sidebar-funnel{
    width: 100%;
    flex-basis: 60px;
}

.product-list__content{
    margin-bottom: 10px;
}

.product-list__content p{
    color: #777;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}
/* big list product */

.all-product{
    margin: 50px 0;
}

.all-product__big-list{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.big-list__types{
    flex-basis: 100%;
}

.types__border{
    border: 1px solid #f2f2f2f2;
    border-radius: 10px;
    padding: 20px
}

.types__item__name{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
}

.types-item__more-information{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}

.types__item__list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* box product */

.box-product{
    position: relative;
    margin-top: 30px;
    width: 290px;
    border: 2px solid;
    border-radius: 5px;
    /* box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2); */
    transition: all .3s ease;
}

.box-product:hover{
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.box-product__img{
    height: 350px;
    position: relative;
}

.box-product__img img{
    height: 350px;
    width: 100%;
}

.box-product__img .link-buy{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgba(223, 223, 222, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.box-product__img:hover .link-buy{
    visibility: visible;
    animation: fade 0.5s;
}


.box-product__details{
    padding: 10px;
}

.details__name{
    margin: 5px 0; 
    font-size: 1.2rem;
    font-weight: 600;
    color:#40d3dc;
    text-align: center;
    text-transform: uppercase;
}

.details__flashsale{
    display: inline;
    border: 1px solid #FD5D5D;
    color: #FD5D5D;
    padding: 0;
    margin-bottom: 0.4rem;
    text-decoration: none;
}

.details__price{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
    margin: 0.4rem 0;
}

.details__price span:nth-of-type(2){
    color: #FD5D5D;
}

.details__price span:nth-of-type(3){
    color: #00C897;
}

.last-price{
    text-decoration: line-through;
}

.details__feedback{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details__feedback .heart-not i{
    cursor: pointer;
}

.details__feedback .ratting{
    color: yellow;
}

.details__feedback p{
    font-size: 16px;
    font-weight: 400;
}

.details__address{
    text-align: right;
    font-weight: 600;
}
/* ==end box product== */
/* ==end big list== */


/* sidebar-funnel */
.sidebar-funnel__nav{
    position: relative;
    left: 0;
    width: 80px;
    min-height: 100px;
    background: #fff;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: -20px 20px 50px rgba(0,0,0,0.5);
    transition: 0.5s;
    overflow: hidden;
}

.sidebar-funnel__nav.active{
    width: 280px
}

.sidebar-funnel__nav .sidebar-funnel__nav__menu-toggle{
    position: relative;
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0.5);
}

.sidebar-funnel__nav .sidebar-funnel__nav__menu-toggle::before{
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: #333;
    transform: translateY(-10px);
    transition: 0.5s;
}

.sidebar-funnel__nav .sidebar-funnel__nav__menu-toggle::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: #333;
    transform: translateY(10px);
    transition: 0.5s;
    box-shadow: 0 -10px #333;
}

.sidebar-funnel__nav.active .sidebar-funnel__nav__menu-toggle::before{
    transform: translateY(0px) rotate(45deg);
}
.sidebar-funnel__nav.active .sidebar-funnel__nav__menu-toggle::after{
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 #333;
}

.sidebar-funnel__nav .menu-toggle__logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
}

.sidebar-funnel__nav .menu-toggle__logo .menu-toggle__logo__imgBx{
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    transition: .5s;
    border-radius: 50%;
    overflow: hidden;
}

.sidebar-funnel__nav.active .menu-toggle__logo .menu-toggle__logo__imgBx{
    width: 200px;
    height: 200px;
}

.sidebar-funnel__nav .menu-toggle__logo .menu-toggle__logo__imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-funnel__nav .menu-toggle__main-menu{
    position: relative;
    width: 100%;
    padding: 10px;
    transition: 0.5s;
    border-top: 1px solid rgba(0,0,0,0.5);
} 

.sidebar-funnel__nav.active .menu-toggle__main-menu{
    padding: 10px 20px;
}

.li{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    color: #111;
    height: 60px;
    overflow: hidden;
    transition: 0.5s;
}

.sidebar-funnel__nav .menu-toggle__main-menu li.momenu{
    height: 260px;
}

.sidebar-funnel__nav .menu-toggle__main-menu li.momenu .textt2{
    transform: rotate(-180deg);
}

.sidebar-funnel__nav .menu-toggle__main-menu li .li1{
    position: relative;
    list-style: none;
    display: flex;
    color: #111;
}

.sidebar-funnel__nav .menu-toggle__main-menu li .li1:hover{
    background: #40d3dc;
    color: #fff;
    border-radius: 10px;
}

.sidebar-funnel__nav .menu-toggle__main-menu li .li1 .icon{
    position: relative;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.icon:hover{
    color: #fff;
}

.sidebar-funnel__nav .menu-toggle__main-menu li .li1 .bxtext{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-funnel__nav .menu-toggle__main-menu li .li1 .bxtext .textt{
    position: relative;
    height: 60px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.sidebar-funnel__nav .menu-toggle__main-menu li .li1 .bxtext .textt2{
    position: relative;
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    transition: 0.5s;
}

.li2:not(:nth-of-type(3)){
    margin-left: 20px;
}

/* ==check btn== */
.check{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.checkbox-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.checkbox-btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.checkbox-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
    color: #777;
    width: 100%;
    height: 100%;
}

.checkbox-2 li:not(:last-child){
    margin-bottom: 10px;
}

.checkbox-btn:not(:last-child){
    margin-bottom: 20px;
}

.checked{
    display: none;
}

#checkbox1:checked ~ .check > .checkbox-1 >.checkbox-btn1{
    background: #FD5D5D;
    border-color: #FD5D5D;
}
#checkbox2:checked ~ .check > .checkbox-1 >.checkbox-btn2{
    background: #FD5D5D;
    border-color: #FD5D5D;
}
#checkbox3:checked ~ .check > .checkbox-1 >.checkbox-btn3{
    background: #FD5D5D;
    border-color: #FD5D5D;
}
#checkbox4:checked ~ .check > .checkbox-1 >.checkbox-btn4{
    background: #FD5D5D;
    border-color: #FD5D5D;
}
#checkbox5:checked ~ .check > .checkbox-1 >.checkbox-btn5{
    background: #9900F0;
    border-color: #9900F0;
}
#checkbox6:checked ~ .check > .checkbox-1 >.checkbox-btn6{
    background: #9900F0;
    border-color: #9900F0;
}
#checkbox7:checked ~ .check > .checkbox-1 >.checkbox-btn7{
    background: #9900F0;
    border-color: #9900F0;
}
#checkbox8:checked ~ .check > .checkbox-1 >.checkbox-btn8{
    background: #9900F0;
    border-color: #9900F0;
}
#checkbox9:checked ~ .check > .checkbox-1 >.checkbox-btn9{
    background: #00FFC6;
    border-color: #00FFC6;
}
#checkbox10:checked ~ .check > .checkbox-1 >.checkbox-btn10{
    background: #00FFC6;
    border-color: #00FFC6;
}
#checkbox11:checked ~ .check > .checkbox-1 >.checkbox-btn11{
    background: #F2FA5A;
    border-color: #F2FA5A;
}
#checkbox12:checked ~ .check > .checkbox-1 >.checkbox-btn12{
    background: #F2FA5A;
    border-color: #F2FA5A;
}
#checkbox13:checked ~ .check > .checkbox-1 >.checkbox-btn13{
    background: #B4FF9F;
    border-color: #B4FF9F;
}
#checkbox14:checked ~ .check > .checkbox-1 >.checkbox-btn14{
    background: #B4FF9F;
    border-color: #B4FF9F;
}
#checkbox15:checked ~ .check > .checkbox-1 >.checkbox-btn15{
    background: #B4FF9F;
    border-color: #B4FF9F;
}
#checkbox16:checked ~ .check > .checkbox-1 >.checkbox-btn16{
    background: #B4FF9F;
    border-color: #B4FF9F;
}
.text-price{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-price input{
    height: 25px;
    max-width: 90px;
    border-radius: 5px;
}

.text-price i{
    margin: 0 5px;
}

.btn-price{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* ==end check btn */
/* end sidebar-funnel */

/* ==responsive all-product== */
/* ==tablet== */
@media (max-width: 740px){
    .all-product__big-list{
        overflow: hidden;
    }

    .big-list__sidebar-funnel{
        width: 0;
        flex-basis: 60px;
        z-index: 1;
    }

    .types__border{
        margin-left: 70px;
    }

    .box-product{
        width: 300px;
    }

    .types__item__list{
        flex-wrap: wrap;
    }

    .box-product{
        width: 250px;
    }
}
/* ==end tablet== */

/* ==smartphone== */
@media (max-width: 380px){
    .all-product__big-list{
        overflow: hidden;
    }

    .big-list__sidebar-funnel{
        position: absolute;
        width: 0;
        z-index: 1;
    }

    .types__border{
        margin-left: 70px;
    }

    .types__item__list{
        flex-direction:column;
    }

    .box-product{
        width: 270px;
    }
}
/* ==end smartphone== */
/* ==end responsive all-product== */

/* ----------------- COMMENT --------------- */
.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.testimonials__comment{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.testimonials__comment__details{
    flex-basis: 44%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 25px;
    text-align: left;
    cursor: pointer;
    transition: 0.5s;
}

.testimonials__comment__details img{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials__comment__details .fa{
    color: #ff523b;
}

@media (max-width: 700px) {
    .testimonials__comment{
        flex-direction: column;
    }

    .testimonials__comment__details img{
        margin-left: 0;
        margin-right: 15px;
    }
}
/* ----------------- END COMMENT --------------- */

/* ----------------- CONTACT --------------- */
.cta{
    margin: 100px auto;
    width: 80%;
    text-transform: capitalize;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),  url(images/product/contactus.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    padding: 0;
    margin-bottom: 40px;
}

.cta-btn{
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

@media (max-width: 700px){
    .cta h1{
        font-size: 26px;
    }
}
/* ----------------- END CONTACT --------------- */




/* ----------------- CART PAGE --------------- */

.container-products {
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}
  
.container-products ion-icon {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
  
.product-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}
  
.product-title {
    width: 45%;
}
  
.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
  
.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
  
.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
  
.product {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product span{  
    padding-left: 20px;
}
  
.product ion-icon {
    cursor: pointer;
}
  
.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
  
.products img {
    height: 90px;
    width: 75px;
}
  
.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}
  
.basketTotalTitle {
    width: 30%;
}
  
.basketTotal {
    width: 10%;
}

.btn-checkout{
    margin: 0;
}
  
@media(max-width: 500px) {
    .sm-hide {
        display: none;;
    }
  
    .products,
    .product-header {
        justify-content: center;
    }
  
    .basketTotalContainer {
        padding-right: 8%;
    }

    .btn-checkout{
        width: 90px;
        height: 30px;
        font-size: 12px;
        margin: 0;
    }
}

/* ----------------- END CART PAGE --------------- */



/* -----------------  LOADING --------------- */
#preloader{
    background: #fff url(images/product/loading.gif) no-repeat center center;
    background-size: 70%;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 300;
}
/* ----------------- END LOADING --------------- */















/*---footer-----------------------*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.back{
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 20px;
    background: #000;
    color: #fff;
}

.socials li a{
    font-size: 20px;
    color: #fff;
}

.socials li a:hover{
    color: #40DFEF;
}